.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.carousel-small {
  max-width: 600px; /* Set the desired width */
  margin: auto;
}

.carousel-caption-outside {
  text-align: center;
  margin-top: 10px;
}

.carousel-indicators {
  position: static;
  margin-top: 10px;
  text-align: center;
}

.carousel-indicators li {
  background-color: grey;
  display: inline-block;
  width: 20px; /* Adjust the width as needed */
  height: 4px; /* Adjust the height as needed */
  margin: 1px;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.carousel-indicators .active,
.carousel-indicators li:hover {
  background-color: black;
}

.footer {
  text-align: left;
  padding: 10px;
  
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px; /* Add space between footer items */
}

.footer-content p {
  margin: 0 10px 0 0; /* Adjust margin as needed */
  font-size: 14px;
}

.footer-image {
  height: 40px; /* Set a fixed height for both images */
  margin-left: 10px; /* Add margin between images */
}
